---
layout: default
---

<div>
    <header class="post-header">
        <div class="post-dir-menu">
            <span><a class="normal" href={{ site.baseurl | append: '/' }}>🖋 Artículos</a></span>
            <span>
                <p>⏱ {{page.reading_time}} min</p>
                <p>
                {{ page.date_shown }}
                </p>
            </span>
        </div>

        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    </header>

    <div class="post-body">
        {{content}}
        Agradezco mucho que te hayas tomado el tiempo de leerme y espero te haya gustado, si tienes alguna duda, comentario o recomendación por favor <a href="mailto:danielhg52@hotmail.com">dímelo</a>. <span class="feedback-gift">Feedback is a gift!</span>
    </div>

    <footer class="post-footer">
        <div class="author-card">
            <img src="https://avatars.githubusercontent.com/u/38321649?v=4">
            <p>Escrito por <span>Daniel Hernández Jiménez</span>, estudiante de ingeniería mecatrónica en la UPIITA en México</p>
        </div>
    </footer>
</div>
